<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
	</head>
	<body>
		<div id="app">
			<div class="header">
				<span>删除快递员</span>
			</div>
			<div class="content">
				<table>	
					<tr>
						<td class="text-right">手机号码</td><td class="content_right"><input class="input inline-input" placeholder="请输入手机号码"> <span id="idBtnFind" class="btn btn-info">立即查找</span></td>
					</tr>
				</table>
			</div>
			
			
			<div class="header">
				<span>查找信息如下</span>
			</div>
			<div class="content">
				<table>
					<tr>
						<td class="text-right">姓名</td><td class="content_right"><input class="input" placeholder="请输入姓名"></td>
					</tr>
					<tr>
						<td class="text-right">手机号码</td><td class="content_right"><input class="input" placeholder="请输入手机号码"></td>
					</tr>
					<tr>
						<td class="text-right">身份证号码</td><td class="content_right"><input class="input" placeholder="请输入身份证号码"></td>
					</tr>
					<tr>
						<td class="text-right">密码</td><td class="content_right"><input class="input" placeholder="请输入密码"></td>
					</tr>
					<tr>
						<td></td><td class="content_right"><span id="idBtnDelete" class="btn btn-info">立即删除</span> <span class="btn">重置</span> </td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script src="/admin/assets/layui.all.js"></script>
	<script src="/qrcode/jquery2.1.4.js"></script>
	<script src="/layer/layer.js"></script>
	<script>
		var layer = layui.layer;
		var g_id;	// 保存用户信息的id的全局变量
		$(function () {
			$(".header:eq(1), .content:eq(1)").hide();						// 尚未查询到用户信息，先隐藏

			$("#idBtnFind").click(function () {
				if (validateOne($(".input:eq(0)").val(), "", "手机号码不合法") === false) {
					return false;
				}
				var windowId = layer.load();								// 先显示忙碌状态
				var temp = {
					userPhone: $(".input:eq(0)").val()
				}
				$.get("/user/find.do", temp, function (message) {			// get方式发起请求，请求信息包含temp的json数据，message为返回的json格式数据
					layer.close(windowId);									// 关闭忙碌状态
					layer.msg(message.result, {time: 1000}, function () {	// 先显示message的result，延时1000ms，再展示用户信息
						if (message.status === 0) {
							$(".header:eq(1), .content:eq(1)").fadeIn(1000);// 用户信息淡入
							$(".input:eq(1), .input:eq(2), .input:eq(3), .input:eq(4)").prop("disabled", true);
							$(".input:eq(1)").val(message.data.nickName);
							$(".input:eq(2)").val(message.data.userPhone);
							$(".input:eq(3)").val(message.data.cardId);
							$(".input:eq(4)").val(message.data.password);
							g_id = message.data.id;							// 保存用户信息的id到全局变量
						} else {
							layer.msg("手机号 " + $(".input:eq(0)").val() + " 没有注册");
							$(".header:eq(1), .content:eq(1)").hide();
						}
					});
				});
			});

			function validateOne(strInput, strReg, strResult) {
				var getInput = strInput;
				if (getInput === "") {
					layer.msg("输入不能为空");
					return false;
				}
				var reg = strReg;
				if (reg === "") {
					return true;
				}
				var result = reg.test(getInput);
				if (result === false) {
					layer.msg(strResult);
					return false;
				}
				return true;
			}

			$("#idBtnDelete").click(function () {
				var windowId = layer.load();
				$.ajax({
					url: "/user/delete.do",
					data: {id: g_id},			// 请求中包含的parameter是id
					type: "post",				// 请求的方式为post
					dataType: "json",			// 预期返回的结果是json格式，这样在message中就可以直接使用json操作，否则，需要解释text，或者其他方式解释返回的信息
					success: function (message) {	// message为请求返回的json格式数据message
						layer.close(windowId);	// 请求返回时马上关闭layer窗口
						layer.msg(message.result, {time: 1000}, function () {	// 展示message.result后，延时1000ms再处理数据
							if (message.status === 0) {
								layer.msg("移除成功，请再次操作或者退出");
								$(".header:eq(1), .content:eq(1)").fadeOut();
								$(".input:eq(1), .input:eq(2), .input:eq(3), .input:eq(4)").val("");
							} else {
								layer.msg("移除失败，请重试或者退出");
							}
						});
					}
				});
			})
		});
	</script>
</html>
